apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: asset-persistent-volume-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: do-block-storage